.body_main{
    background-image: url(/src/assets/images/r&m.jpg);
    background-size: cover; /* Ajusta la imagen sin distorsión */
    background-position: center;
    background-attachment: fixed; /* Mantiene la imagen fija */
    background-repeat: no-repeat; 
}

